*{
    font-family: 'Noto Sans Warang Citi', sans-serif;}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
    }

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
    }

.dropdown-menu > li:hover > .dropdown-submenu {
    display: block;
    }

#nav-btn{
    color: #EAECEE;
}

#navbar, #navbar a, #navbar ul {
    background-color: #242424;
    color: #EAECEE; }

#navbar a:hover {
    background-color: #EAECEE;
    color: #545454;
    border-radius: 5px;}

.text{
    color: #EAECEE;
    position:absolute;
    z-index: 12;
    
    text-align:center;
}


/* about */
#box{
    height: 100%;
    background-color: rgba(114, 114, 114, 0.2);
}

    .contact{
    padding: 4%;
    height: 400px;
    }
    .col-md-3{
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    }
    .contact-info{
    margin-top:10%;
    }
    .main-cont{
    margin-bottom: 8%;
    }
    .contact-info h2{
    margin-bottom: 10%;
    }
    .detail{
    margin-bottom: 5%;
    margin-top: 10%;
    }
    
    /* contact */
    .col-md-9{
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    }
    .contact-form label{
    font-weight:600;
    }
    .contact-form button{
    background: #25274d;
    color: #fff;
    font-weight: 600;
    width: 25%;
    }
    .contact-form button:focus{
    box-shadow:none;
    }

/* PRODUCT */
.card-img-top{
    height: 25vw;
}

#name{
    font-size: 1.6rem;
    font-weight: 600;
}
.icon {
    margin: 0.5rem;
    color:#242424;
}
.icon:link, .icon:visited{
    color: #242424;
    text-decoration: none;
}
.icon:hover {
    color: #EAECEE;
    background-color: #242424;
    border-radius: 5px;
    cursor: pointer;
}

.brand-head{
    font-size: 3.5rem;
    color: #242424;
    font-weight: 700;
    margin: 2rem;
    text-align: center;
}

#cart-btn{
    color: #242424;
    background-color: #EAECEE;
    border-radius: 5px;
}
#cart-btn:hover{
    color: #EAECEE;
    background-color: #242424;
    border-radius: 5px;
    box-shadow: none;
}